<div class="container-fluid" >
    <div class="row">
        <div class="col-3" style="margin-top: 150px">
            <a class="link t-10px"  routerLink='/delete'>
                <button class="btn btn-info" style="width: 200px;  height: 100px;">Delete</button>
            </a>
            <br>
            <a class="link t-20px" routerLink='/booking'>
                <button class="btn btn-info" style="margin-top: 10px; width: 200px;  height: 100px;"> Booking </button>
            </a>
            <br>
            <a class="link t-20px" routerLink='/add-time'>
                <button class="btn btn-info" style="margin-top: 10px; width: 200px;  height: 100px;">Add time</button>
            </a>
           <br>
            <a class="link" routerLink='/edit'>
                <button class="btn btn-info" style="margin-top: 10px; width: 200px;  height: 100px;">Edit</button>
            </a>
        </div>
        <div class="col-9" style="margin-top: 30px;">
                <div class="row">
                   <u> <h2>Edit</h2> </u>
    
                    </div>
    </div>
</div>













