<nav class="navbar navbar-expand-sm bg-dark navbar-dark" id="mainNav" style="background-color: gray;">
    <a class="navbar-brand" href="">SIWA</a>
    
  
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" routerLink=''>Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink='/playgrounds'>Playgrounds</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink='/adminDashboard'>Admin dashbord</a>
      </li> 
      <li class="nav-item" *ngIf="userIsAuthenticated">
        <a class="nav-link" routerLink='/createPlayground'>create playground </a>
      </li>
    </ul>

    <span class="rightside"></span>

    <ul class="navbar-nav">
     
      <li class="nav-item dropdown" *ngIf="!userIsAuthenticated" >
        <a class="nav-link dropdown-toggle" data-toggle="dropdown">Register</a>
        <div class="dropdown-content">
            <a class="dropdown-item" routerLink='/admin-register'>Admin Register</a>
            <a class="dropdown-item" routerLink='/player-register'>Player Register</a>
          </div>
      </li>
      <li class="nav-item dropdown" *ngIf="!userIsAuthenticated">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown">LogIn</a>
        <div class="dropdown-content">
            <a class="dropdown-item" routerLink='/admin-login'>Admin LogIn</a>
            <a class="dropdown-item" routerLink='/player-login'>Player LogIn</a>
          </div>
      </li>
      <li class="nav-item" *ngIf="userIsAuthenticated">
        <button class="nav-link btn btn-sucess" (click)="onLogout()" >LogOut</button>
      </li>
    </ul>
  </nav>

 
