<div class="container-fluid" >
    <div class="row">
        <div class="col-4" style="margin-top: 150px">
            <a class="link t-10px"  routerLink='/delete'>
                <button class="btn btn-info" class="btn" style="width: 200px;  height: 100px;">Delete</button>
            </a>
            <br>
            <a class="link t-20px" routerLink='/booking'>
                <button class="btn btn-info" class="btn" style="margin-top: 10px; width: 200px;  height: 100px;"> Booking </button>
            </a>
            <br>
            <a class="link t-20px" routerLink='/add-time'>
                <button class="btn btn-info" class="btn" style="margin-top: 10px; width: 200px;  height: 100px;">Add time</button>
            </a>
           <br>
            <a class="link" routerLink='/edit'>
                <button class="btn btn-info" class="btn" style="margin-top: 10px; width: 200px;  height: 100px;">Edit</button>
            </a>
        </div>
        <div class="col-8" style="margin-top: 100px;">
                <div class="row">
                        <div class="col-6">
                            <div class="mm" style="margin-top: 10px; width: 560px;  height: 200px; text-align:start; border-radius:5px;">
                                <button type="button" class="close" data-dismiss="alert">&times;</button>
                                <strong>Name :</strong> Saied
                                <br>
                                <strong>Phone :</strong> 01059814654
                                <br>
                                <strong>Booking time :</strong> 5:00 PM
                                <br>
                                <strong>Booking date :</strong> 12 Nov. 2019
                                <br>
                                <strong>Playground name :</strong> El-knoz
                                <br>
                                <a class="link" routerLink='/'>
                                    <button class="btn btn-success" style="margin-left: 5px; margin-top: 10px;">Booking</button>
                                </a>
                            </div>
                            <div class="mm" style="margin-top: 10px; width: 560px;  height: 200px; text-align:start; border-radius:5px;">
                                <button type="button" class="close" data-dismiss="alert">&times;</button>
                                <strong>Name :</strong> Mustafa
                                <br>
                                <strong>Phone :</strong> 01059814654
                                <br>
                                <strong>Booking time :</strong> 5:00 PM
                                <br>
                                <strong>Booking date :</strong> 12 Nov. 2019
                                <br>
                                <strong>Playground name :</strong> Farshout
                                <br>
                                <a class="link" routerLink='/'>
                                    <button class="btn btn-success" style="margin-left: 5px; margin-top: 10px;">Booking</button>
                                </a>
                            </div>
                            <div class="mm" style="margin-top: 10px; width: 560px;  height: 200px; text-align:start;  border-radius:5px;">
                                <button type="button" class="close" data-dismiss="alert">&times;</button>
                                <strong>Name :</strong> Ahmed
                                <br>
                                <strong>Phone :</strong> 01059822254
                                <br>
                                <strong>Booking time :</strong> 12:00 PM
                                <br>
                                <strong>Booking date :</strong> 15 April.2020
                                <br>
                                <strong>Playground name :</strong> Dndra
                                <br>
                                <a class="link" routerLink='/'>
                                    <button class="btn btn-success" style="margin-left: 5px; margin-top: 10px;">Booking</button>
                                </a>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="alert alert-success alert-dismissible fade show">
                                <button type="button" class="close" data-dismiss="alert">&times;</button>
                                <strong>Name :</strong> Ali
                                <br>
                                <strong>Phone :</strong> 01059814654
                                <br>
                                <strong>Booking time :</strong> 5:00 PM
                                <br>
                                <strong>Booking date :</strong> 12 Nov. 2019
                                <br>
                                <strong>Playground name :</strong> El-knoz
                                <br>
                                <a class="link" routerLink='/'>
                                    <button class="btn btn-success">Booking</button>
                                </a>
                            </div>
                            <div class="alert alert-success alert-dismissible fade show">
                                <button type="button" class="close" data-dismiss="alert">&times;</button>
                                <strong>Name :</strong> malk
                                <br>
                                <strong>Phone :</strong> 01059251481
                                <br>
                                <strong>Booking time :</strong> 10:00 AM
                                <br>
                                <strong>Booking date :</strong> 8 Jan. 2020
                                <br>
                                <strong>Playground name :</strong> Qena
                                <br>
                                <a class="link" routerLink='/'>
                                    <button class="btn btn-success">Booking</button>
                                </a>
                            </div>
                            <div class="alert alert-success alert-dismissible fade show">
                                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                                    <strong>Name :</strong> Menna
                                    <br>
                                    <strong>Phone :</strong> 01158211649
                                    <br>
                                    <strong>Booking time :</strong> 8:00 PM
                                    <br>
                                    <strong>Booking date :</strong> 10 Aug. 2019
                                    <br>
                                    <strong>Playground name :</strong> El-Giza
                                    <br>
                                    <a class="link" routerLink='/'>
                                        <button class="btn btn-success">Booking</button>
                                    </a>
                                </div>
                
                        </div>
                    </div>
    </div>
</div>













