<div class="container-fluid">
    <div class="row">
        <div class="col-lg-4 col-sm-12" style="margin-top: 100px">
            <a class="link t-10px" routerLink='/delete'>
                <button class="btn btn-info" class="btn" style="width: 200px;  height: 100px;">Delete</button>
            </a>
            <br>
            <a class="link t-20px" routerLink='/booking'>
                <button class="btn btn-info" class="btn" style="margin-top: 10px; width: 200px;  height: 100px;">
                    Booking </button>
            </a>
            <br>
            <a class="link t-20px" routerLink='/createPlayground'>
                <button class="btn btn-info" class="btn" style="margin-top: 10px; width: 200px;  height: 100px;">Create
                    Playground</button>
            </a>
            <br>
            <a class="link" routerLink='/edit'>
                <button class="btn btn-info" class="btn"
                    style="margin-top: 10px; width: 200px;  height: 100px;">Edit</button>
            </a>
        </div>
        <div class="col-lg-8 col-md-8 col-sm-12"> 
            <div class="row">
                <div class="col-lg-6 col-sm-12 mb-2">
                    <div class="mm"
                        style="margin-top:100px; width: 400px;  height: 200px; text-align:start; border-radius:5px;">
                        <strong>Name :</strong> Saied
                        <br>
                        <strong>Phone :</strong> 01059814654
                        <br>
                        <strong>Booking time :</strong> 5:00 PM
                        <br>
                        <strong>Booking date :</strong> 12 Nov. 2019
                        <br>
                        <strong>Playground name :</strong> El-knoz
                        <br>
                        <strong>status of payment :</strong>
                        <div class="form-check-inline">
                            <input type="checkbox" class="form-check-input ml-1"><strong>#</strong>done
                        </div>

                        <a class="link" routerLink='/'>
                            <button class="btn btn-success" style="margin-left: 286px;
                            margin-top: -14px;">Booking</button>
                        </a> 
                    </div>
                </div>
                <div class="col-lg-6 col-sm-12 mb-2">
                    <div class="mm"
                        style="margin-top: 100px; width: 400px;  height: 200px; text-align:start; border-radius:5px;">
                        <strong>Name :</strong> Mustafa
                        <br>
                        <strong>Phone :</strong> 01059814654
                        <br>
                        <strong>Booking time :</strong> 5:00 PM
                        <br>
                        <strong>Booking date :</strong> 12 Nov. 2019
                        <br>
                        <strong>Playground name :</strong> Farshout
                        <br>
                        <strong>status of payment :</strong>
                        <div class="form-check-inline">
                            <input type="checkbox" class="form-check-input ml-1"><strong>#</strong>done
                        </div>

                        <a class="link" routerLink='/'>
                            <button class="btn btn-success" style="margin-left: 286px;
                            margin-top: -14px;">Booking</button>
                        </a> 
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6  col-sm-12 mb-2">
                    <div class="mm"
                        style="margin-top: 10px; width: 400px;  height: 200px; text-align:start; border-radius:5px;">
                        <strong>Name :</strong> Saied
                        <br>
                        <strong>Phone :</strong> 01059814654
                        <br>
                        <strong>Booking time :</strong> 5:00 PM
                        <br>
                        <strong>Booking date :</strong> 12 Nov. 2019
                        <br>
                        <strong>Playground name :</strong> El-knoz
                        <br>
                        <strong>status of payment :</strong>
                        <div class="form-check-inline">
                            <input type="checkbox" class="form-check-input ml-1"><strong>#</strong>done
                        </div>

                        <a class="link" routerLink='/'>
                            <button class="btn btn-success" style="margin-left: 286px;
                            margin-top: -14px;">Booking</button>
                        </a> 
                    </div>
                </div>
                <div class="col-lg-6 col-sm-12 mb-2">
                    <div class="mm"
                        style="margin-top: 10px; width: 400px;  height: 200px; text-align:start; border-radius:5px;">
                        <strong>Name :</strong> Mustafa
                        <br>
                        <strong>Phone :</strong> 01059814654
                        <br>
                        <strong>Booking time :</strong> 5:00 PM
                        <br>
                        <strong>Booking date :</strong> 12 Nov. 2019
                        <br>
                        <strong>Playground name :</strong> Farshout
                        <br>
                        <strong>status of payment :</strong>
                        <div class="form-check-inline">
                            <input type="checkbox" class="form-check-input ml-1"><strong>#</strong>done
                        </div>

                        <a class="link" routerLink='/'>
                            <button class="btn btn-success" style="margin-left: 286px;
                            margin-top: -14px;">Booking</button>
                        </a> 
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 col-sm-12 mb-2">
                    <div class="mm"
                        style="margin-top: 10px; width: 400px;  height: 200px; text-align:start; border-radius:5px;">
                        <strong>Name :</strong> Saied
                        <br>
                        <strong>Phone :</strong> 01059814654
                        <br>
                        <strong>Booking time :</strong> 5:00 PM
                        <br>
                        <strong>Booking date :</strong> 12 Nov. 2019
                        <br>
                        <strong>Playground name :</strong> El-knoz
                        <br>
                        <strong>status of payment :</strong>
                        <div class="form-check-inline">
                            <input type="checkbox" class="form-check-input ml-1"><strong>#</strong>done
                        </div>

                         <a class="link" routerLink='/'>
                            <button class="btn btn-success" style="margin-left: 286px;
                            margin-top: -14px;">Booking</button>
                        </a> 
                    </div>
                </div>
                <div class="col-lg-6 col-sm-12 mb-2">
                    <div class="mm"
                        style="margin-top: 10px; width: 400px;  height: 200px; text-align:start; border-radius:5px;">
                        <strong>Name :</strong> Mustafa
                        <br>
                        <strong>Phone :</strong> 01059814654
                        <br>
                        <strong>Booking time :</strong> 5:00 PM
                        <br>
                        <strong>Booking date :</strong> 12 Nov. 2019
                        <br>
                        <strong>Playground name :</strong> Farshout
                        <br>
                        <strong>status of payment :</strong>
                        <div class="form-check-inline">
                            <input type="checkbox" class="form-check-input ml-1"><strong>#</strong>done
                        </div>
                        <a class="link" routerLink='/'>
                            <button class="btn btn-success" style="margin-left: 286px;
                            margin-top: -14px;">Booking</button>
                        </a> 
                    </div>
                </div>
            </div>
        </div>
    </div>