<div class="container-fluid">
    <div class="row">
        <div class="col-3" style="top: 150px;">
            <img src="./../../../assets/images/player.png" width="350px" height="550px">
        </div>


        <div class="col-6" style="margin-top: 100px;">
            <div class="row justify-content-center">
                <form class="container mx-auto col-6 py-5"
                    style="background-color: rgba(240, 255, 255, 0.596); top:70px">


                    <div class="form-group">
                        <label for="select3">
                            <h3>Add time to AM</h3>
                        </label>
                        <select class="form-control" id="select3">
                            <option>Select</option>
                            <option>12-02</option>
                            <option>02-04</option>
                            <option>04-06</option>
                            <option>06-08</option>
                            <option>08-10</option>
                            <option>10-12</option>
                        </select>
                    </div>
                    <br>
                    <br>


                    <div class="form-group">
                        <label for="select4">
                            <h3>Add time to PM </h3>
                        </label>
                        <select class="form-control " id="select4">
                            <option>Select</option>
                            <option>12-02</option>
                            <option>02-04</option>
                            <option>04-06</option>
                            <option>06-08</option>
                            <option>08-10</option>
                            <option>10-12</option>
                        </select>
                    </div>

                    <!-- Button -->
                    <a class="link" routerLink='/add-time'>
                        <button class="btn btn-primary">Add</button>
                    </a>


                </form>
            </div>
        </div>



        <div class="col-3" style="margin-top: 150px">
            <a class="link t-10px" routerLink='/delete'>
                <button class="btn btn-info" style="width: 200px;  height: 100px;">Delete</button>
            </a>
            <br>
            <a class="link t-20px" routerLink='/booking'>
                <button class="btn btn-info" style="margin-top: 10px; width: 200px;  height: 100px;"> Booking </button>
            </a>
            <br>
            <a class="link t-20px" routerLink='/add-time'>
                <button class="btn btn-info" style="margin-top: 10px; width: 200px;  height: 100px;">Add time</button>
            </a>
            <br>
            <a class="link" routerLink='/edit'>
                <button class="btn btn-info" style="margin-top: 10px; width: 200px;  height: 100px;">Edit</button>
            </a>
        </div>


    </div>