<!-- <div class="container-fluid " >
    <div class="row " >
        <div class="col-3" style="margin-top: 300px; margin-left: 50px;">
            <a class="link t-10px"  routerLink='/delete'>
                <button class="btn btn-info" style="width: 200px;  height: 100px;">Delete</button>
            </a>
            <br>
            <a class="link t-20px" routerLink='/booking'>
                <button class="btn btn-info" style="margin-top: 10px; width: 200px;  height: 100px;"> Booking </button>
            </a>
            <br>
            <a class="link t-20px" routerLink='/add-time'>
                <button class="btn btn-info" style="margin-top: 10px; width: 200px;  height: 100px;">Add time</button>
            </a>
           <br>
            <a class="link" routerLink='/edit'>
                <button class="btn btn-info" style="margin-top: 10px; width: 200px;  height: 100px;">Edit</button>
            </a>
        </div>
        <div class="col-8" style="margin-top: 300px; margin-left: 80px;">
            <div class="row" style="margin-left: 220px;">
                <div class="col-4">
                    <div class="alert alert-success alert-dismissible fade show" id="mm">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        <strong>Name :</strong> Saied
                        <br>
                        <strong>Phone :</strong> 01059814654
                        <br>
                        <strong>Booking time :</strong> 5:00 PM
                        <br>
                        <strong>Booking date :</strong> 12 Nov. 2019
                        <br>
                        <strong>Playground name :</strong> El-knoz
                        <br>
                    </div>
                    <div class="alert alert-success alert-dismissible fade show" id="nn">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        <strong>Name :</strong> Mustafa
                        <br>
                        <strong>Phone :</strong> 01059814654
                        <br>
                        <strong>Booking time :</strong> 5:00 PM
                        <br>
                        <strong>Booking date :</strong> 12 Nov. 2019
                        <br>
                        <strong>Playground name :</strong> plapla
                        <br>
                    </div>
                    <div class="alert alert-success alert-dismissible fade show" id="oo">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        <strong>Name :</strong> Ahmed
                        <br>
                        <strong>Phone :</strong> 01059822254
                        <br>
                        <strong>Booking time :</strong> 12:00 PM
                        <br>
                        <strong>Booking date :</strong> 15 April.2020
                        <br>
                        <strong>Playground name :</strong> Dndra
                        <br>
                    </div>
                </div>
                <div class="col-4" style="margin-left: 60px;">
                    <div class="alert alert-success alert-dismissible fade show" id="pp">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        <strong>Name :</strong> Ali
                        <br>
                        <strong>Phone :</strong> 01059814654
                        <br>
                        <strong>Booking time :</strong> 5:00 PM
                        <br>
                        <strong>Booking date :</strong> 12 Nov. 2019
                        <br>
                        <strong>Playground name :</strong> El-knoz
                        <br>
                    </div>
                    <div class="alert alert-success alert-dismissible fade show" id="qq">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        <strong>Name :</strong> malk
                        <br>
                        <strong>Phone :</strong> 01059251481
                        <br>
                        <strong>Booking time :</strong> 10:00 AM
                        <br>
                        <strong>Booking date :</strong> 8 Jan. 2020
                        <br>
                        <strong>Playground name :</strong> Qena
                        <br>
                    </div>
                    <div class="alert alert-success alert-dismissible fade show" id="rr">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        <strong>Name :</strong> Menna
                        <br>
                        <strong>Phone :</strong> 01158211649
                        <br>
                        <strong>Booking time :</strong> 8:00 PM
                        <br>
                        <strong>Booking date :</strong> 10 Aug. 2019
                        <br>
                        <strong>Playground name :</strong> El-Giza
                        <br>
                    </div>

                </div>
            </div>

        </div>
    </div>
</div>
 
 -->


 <div class="col-sm-12 col-lg-6 pb-3 pl-4" *ngFor="let playground of playgrounds; let i = index">
            <div class="container">
                <div class="card p-3">
                    <div class="row">
                        <div class="col-lg-5">
                            <img class="card-img" style="height: 100%;" src="{{playground.imagePath}}" alt="Playground image">
                            <div class="clearfix align-bottom" id="popup"> 
                                <button class="btn btn-outline-success float-left mt-2" (click)="onSelect(playground)">book online <i class="fas fa-bolt text-warning"></i> </button>
                            </div>
                        </div>
                        <div class="col-lg-7 p-4">
                            <div class="card-body mt-lg-n4">
                                <h4 class="card-text pb-3"><i class="far fa-flag text-success"></i>{{playground.name}}</h4>
                                <h5 class="card-text pb-3">{{playground.location}}<i class="fas fa-map-marker-alt float-right"></i></h5>
                                <h5 class="card-text mt-2"> {{playground.price}}<i class="float-right fas fa-pound-sign"> /hr</i></h5>
                                <small class="pb-3">21 evening bookings available this week</small>

                            </div>
                        </div>
                    </div>
                    
                
                </div>
            </div>
</div>
 
